$background: #141419;
$div: #222429;

h1 {

}
h2 {

}
h4 {
    text-decoration: line-through;
}
p {
    color: #6a6c6d;
}
.head {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #0c0c0f;
}
.btn-primary{
background-color: #3f8cff;
}
.btn-secondary{
    padding-top: 1px;
    padding-bottom: 1px;
}

body {
    background-color: $background;
    color: white;
}

.fa-check-circle {
    color: #283954;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.basic {
    background-color: $div;
}

.pro {
    background-color: $div;
}

